* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: lighter;
  letter-spacing: 1.2px;
  color: #FFFFFF;
  scroll-behavior: smooth;
}

body {
  background-color: #1B1C1E;
  min-height: calc(100vh - 4rem);
}

main {
  min-height: calc(100vh - 4rem);
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 3.5em;
}

p, li, label {
  font-size: 1.3em;
}

a, input {
  font-size: 1em;
  text-decoration: none;
}

.txt {
  display: none;
}

.Button, .likeBtn, .btn, .submitButton {
  background-color: #7E49F2;
  display: inline-block;
  padding: 0.8em 1.8em;
  border-radius: 0.2em;
  z-index: 99;
  margin: 2% 0%;
  cursor: pointer;
}

.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%;
  height: 100%;
}

.Left {
  float: left;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Right {
  float: right;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Header {
  display: flex;
  align-items: center;
  padding-top: 1.5rem;
  flex-direction: column;
}

#hover {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#hover p {
  font-size: 2rem;
}

.navMenu {
  display: none;
  margin: 0.5rem 0;
}

#HeroSection {
  background-image: linear-gradient(to bottom, rgba(27, 28, 30, 0.3), rgb(27, 28, 30)), url(Images/HollowKnightHeroImage.jpg);
  background-position: center center;
  background-size: cover;
  display: block;
  height: 100%;
  height: 100vh;
}
#HeroSection .HeroTextContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: normal;
  margin-left: 10em;
  height: 90%;
}
#HeroSection .HeroTextContainer .HeroText h2 {
  font-size: 2.4em;
  margin: 7% 0%;
}

#GameAISection {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#GameAISection .GameAIContainer {
  width: 80%;
}
#GameAISection .GameAIContainer .GameAILeftTextContainer {
  width: 80%;
}
#GameAISection .GameAIContainer .GameAILeftTextContainer .Line {
  border-bottom: solid #7E49F2;
  width: 26%;
}
#GameAISection .GameAIContainer .GameAILeftTextContainer p {
  color: #888481;
  margin: 5% 0%;
}
#GameAISection .GameAIContainer .GameAISectionImage {
  display: block;
  width: 90%;
}

#GameRenderingSection {
  margin-top: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#GameRenderingSection .GameRenderingContainer {
  width: 80%;
}
#GameRenderingSection .GameRenderingContainer .GameRenderingLeftImage {
  display: block;
  width: 87%;
}
#GameRenderingSection .GameRenderingContainer .GameRenderingRightTextContainer {
  width: 80%;
}
#GameRenderingSection .GameRenderingContainer .GameRenderingRightTextContainer .Line {
  border-bottom: solid #7E49F2;
  width: 60%;
}
#GameRenderingSection .GameRenderingContainer .GameRenderingRightTextContainer p {
  color: #888481;
  margin: 5% 0%;
}

#FooterSection {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #888481;
  background-color: #141416;
  height: 4rem;
  width: 100%;
}

#ArticleSection {
  margin: 15% 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#ArticleSection .Line {
  border-bottom: solid #7E49F2;
  width: 70%;
  margin: 1.5% 0% 0% 0%;
}
#ArticleSection .SubText, #ArticleSection q {
  padding: 1% 0%;
  color: #888481;
}
#ArticleSection p {
  margin: 2% 0%;
}
#ArticleSection img {
  margin: 5% 0% 0% 0%;
}
#ArticleSection #linkTxt {
  text-decoration: underline;
  color: #7E49F2;
}
#ArticleSection table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}
#ArticleSection table th {
  background-color: #7E49F2;
  padding: 1% 0%;
}
#ArticleSection table td {
  border: 1px solid #FFFFFF;
  padding: 0.9%;
}
#ArticleSection ul {
  color: #FFFFFF;
  list-style: disc;
}
#ArticleSection ul li {
  margin: 1% 0%;
}

.ContactUs {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
.ContactUs h1 {
  padding: 2rem 0;
}

.ContactUsContainer input, .ContactUsContainer textarea {
  width: 100%;
  margin-bottom: 1.5rem;
  color: #141416;
}

#list {
  display: none;
  margin: 0;
}

#comentSection {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 15% 0;
}
#comentSection #commentForm input, #comentSection textarea {
  color: #1B1C1E;
}
#comentSection #commentForm input label, #comentSection textarea label {
  font-size: 3.5em;
}

#savedItemsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5% 0;
}
#savedItemsContainer #SavedItemsContainer {
  display: inline-block;
}
#savedItemsContainer #SavedItemsContainer .ArticleContainer {
  margin: 5% 0;
}
#savedItemsContainer #SavedItemsContainer .ArticleContainer .Button {
  padding: 2%;
}/*# sourceMappingURL=StyleSheet.css.map */